# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.pytest_cache/
.venv/
venv/

# Documentacio
*.md
LICENSE

# Editor
.vscode
.idea
*.swp

# OS
.DS_Store
Thumbs.db

# Scripts d'instal.lacio (no han d'anar a la imatge)
get-docker.sh
